---js
const eleventyNavigation = {
	key: "Home",
	order: 1
};

const numberOfLatestPostsToShow = 3;
---
<section class="home">
	<h1 class="home-title">SWANK.IT.BLOG</h1>

	<nav class="home-nav">
		<a class="home-link" href="/blog/">Readings</a>
	    <a class="home-link" href="/projects/">Projects</a>
		<a class="home-link" href="/about/">About</a>
	</nav>
</section>
