<!doctype html>
<html lang="{{ metadata.language }}">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>{{ title or metadata.title }}</title>
		<meta name="description" content="{{ description or metadata.description }}">
		<link rel="alternate" href="/feed/feed.xml" type="application/atom+xml" title="{{ metadata.title }}">
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Cantarell:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">

		<style>{% include "css/style.css" %}</style>
		<style>{% include "css/index.css" %}</style>

		<link rel="stylesheet" href="{% getBundleFileUrl "css" %}">

		<script type="module">{% include "node_modules/@zachleat/heading-anchors/heading-anchors.js" %}</script>
	</head>
	<body>
		<a href="#main" id="skip-link" class="visually-hidden">skip</a>

		<header>
			<a href="/" class="home-link">{{ metadata.title }}</a>

			<details class="menu-box">
				<summary class="menu-button">menu</summary>
				<nav>
					<h2 class="visually-hidden">menu</h2>
					<ul class="nav">
					{%- for entry in collections.all | eleventyNavigation %}
						<li class="nav-item"><a href="{{ entry.url }}"{% if entry.url == page.url %} aria-current="page"{% endif %}>{{ entry.title }}</a></li>
					{%- endfor %}
					</ul>
				</nav>
			</details>
		</header>

		<main id="main">
			<heading-anchors>
				{{ content | safe }}
			</heading-anchors>
		</main>

		<footer>
			<p>
				<em>Built with <a href="https://www.11ty.dev/">{{ eleventy.generator }}</a></em>
			</p>
		</footer>

		<script type="module" src="{% getBundleFileUrl "js" %}"></script>
	</body>
</html>